/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.6;
}

@media (min-width: 500px) {
    body {
        width: 1000px;
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    body {
        width: 1000px;
        font-size: 17px;
    }
}


/* HLAVICKA */

.obsah {
    width: 100%;
}

.hlavicka {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('images/island-hlavicka.jpg');
    background-size: auto, cover;
    background-position: initial, center center;
    background-repeat: initial, no-repeat;
    padding: 30px;
    text-align: center;
    color: #f5f5f5;

}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 36px;
}

.hlavicka-obsah {
    max-width: 960px;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}




h2 {
    padding: 20px 0 20px 20px;
    position: relative;
    margin-bottom: 40px;
}   

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(0, 123, 255);
    position: absolute;
    top: 100%;
    left: -20px;
}

@media (min-width: 500px) and (max-width: 1000px) {
        .obsah {
           /* width: 100%;*/
        }

        /*.perex p {
            position: relative;
        }

        .perex p::after {
            content: "";
            display: block;
            width: 100px;
            height: 2px;
            background-color: #f5f5f5;
            position: absolute;
            top: 50%;
            left: 250px;
        }*/

}

@media (min-width: 1000px) {
     .hlavicka {
        width: 1000px; 
        
     }

     .telo {
        width: 940px;
        background-color: #f5f5f5;
        box-shadow: 0px 1px 10px 2px rgb(165, 164, 164);
        z-index: 90;
        margin-top: -40px;
        margin-left: 30px;
        margin-right: 20px;
     }


     h2 {
        margin-left: 30px;
     }


}

/* MENU */

.menu {
    text-align: center;
    list-style: none;
    padding: 0 20px 0 20px;
    margin: 20px 0 30px 0;
}

.menu li {
    margin: 10px 0 10px 0;
    border-bottom: 0.5px groove rgb(209, 207, 207); /*nelze nastavit border 0.5px*/
    color: rgb(221, 221, 221);

}

.menu a {
    text-decoration: none;
    color: rgb(198, 198, 198);
    text-transform: uppercase;
}

@media (min-width: 500px) and (max-width: 1000px) {
    .menu {
        margin-bottom: 30px;
        display: flex;
    }

    .menu li {
        font-size: 10px;
        border-top: 0.5px groove rgb(235, 233, 233);
        border-right: 0.5px groove rgb(226, 223, 223);
        justify-content: space-around; 
        flex-basis: 24%;
        flex-grow: 1;
        flex-shrink: 0;

    }

    .menu li:last-child {
        border-right: 0;
    }

    }

    @media (min-width: 1000px) {

        .menu li {
            text-align: left;
        }

        .menubox {
            display: flex;
            flex-wrap: wrap;
        }

        .menu {
            margin-top: 40px;
            margin-left: 30px;
            flex-basis: 19%;
        }

        .text-prvni {
            flex-basis: 79%;
        }
    }

/* OBSAH */

.text-prvni {
    padding: 0 20px 0 20px;
    color: rgb(26, 24, 24);
}

.text {
    padding: 0 20px 0 20px;
    color: rgb(50, 48, 48);
}

.text-zmena {
    padding: 0 20px 0 20px;
    color: rgb(50, 48, 48);
}

.obsah {
    background: white;
}

.obrazek-prvni,
.obrazek-druhy,
.obrazek-treti {
    width: 100%;
    margin: 30px 0 30px 0;
}

.popisek-prvni,
.popisek-druhy,
.popisek-treti,
.popisek {
    text-align: center;
    font-size: 10px;
    color: rgb(108, 107, 107);
}



a {
    color: rgb(165, 164, 164);
}

.popisek-copy {
    color: rgb(165, 164, 164);
}

strong {
    color: black;
    font-weight: 700;
}

 @media (min-width: 500px) and (max-width: 1000px) {
    /*.obrazek-prvni img {
        position: relative;
    }

    .popisek-prvni p {
        position: absolute;
        right: 10px;
        bottom: 10px;
    } */

} 

@media (min-width: 1000px) {
    .obrazek-prvni,
    .obrazek-druhy,
    .obrazek-treti {
        width: 100%;
    }

    p {
        padding: 0 30px 0 30px;
    }

}

/*.islanduvod {
    width: 500px;
} */

/* FOTOGALERIE */

.foto {
    width: 500px;
}

.foto img {
    width: 100%;
}

.galerie {
    box-shadow: 0px 15px 10px -15px rgb(171, 171, 171)
}

@media (min-width: 500px) and (max-width: 1000px) {
    .popisek {
        padding: 0;
        display: none;
    }
    
    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .foto {
        flex-basis: 50%;
        flex-grow: 1;
    }

}

@media (min-width: 1000px) {
    .popisek {
        display: none;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
    }    

    .foto {
        flex-basis: 33.333%;
        flex-grow: 1;
    }
}


/* PATICKA */

.paticka {
    margin: 0;
    padding-left: 20px;
    font-size: 10px;
    background-color: #ffffff;
    color: rgb(165, 164, 164);
} 



