/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.6;
}

@media (min-width: 500px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 17px;
    }
}


/* HLAVICKA */

.hlavicka {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('images/island-hlavicka.jpg');
    background-size: auto, cover;
    background-position: initial, center center;
    background-repeat: initial, no-repeat;
    color: #f5f5f5;
    padding: 20px;
}

.titulek {
    margin: 0 0 20px 0; 
    font-family: 'Raleway', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.hlavicka-obsah {
    max-width: 960px;
    text-align: center;
    padding: 20px;  
    margin: 0 auto;
}

.perex {
    margin: 25px 0 15px 0;
}

.autor {
    position: relative;
    padding-top: 1em;
    opacity: 70%;
    font-style: italic;
}

.autor::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 45%;
    width: 70px;
    border-top: 2px solid white;
}



h2 {
    padding: 20px 0 20px 20px;
    margin-bottom: 40px;
}   


@media (min-width: 500px) {
        .titulek {
           font-size: 72px;
        }
}

@media (min-width: 1000px) {

     .titulek {
        font-size: 96px;
     }


     .hlavicka-obsah {
        padding: 100px 120px;
     }
        
     
     h2 {
        padding-left: 50px;
     }  

     .h2zmena {
        padding-left: 20px;
     }
      
     }
    





/* MENU */

.menu {
    padding: 30px 30px 0px 30px;
    margin: 0;
    /* justify-content: center; */
    list-style: none;
}



.menu li {
    margin: 0;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 0;
    /*color: rgb(221, 221, 221);*/
    list-style: none;
    text-align: center;

}

.menu a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    /*border-bottom: 1px solid rgb(209, 207, 207);*/
    color: rgb(198, 198, 198);
    text-transform: uppercase;
    
}

@media (min-width: 500px) {
    .menu {
        margin-bottom: 30px;
    }

    .menu li {
        border-top: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        float: left;
        width: 25%;
        margin-bottom: 30px;

    }

    .menu li:last-child {
        border-right: 0;
    }

    }

    @media (min-width: 1000px) {

        .prvni {
            display: flex;

        }

         /* .menubox {
            display: flex;
        }  */

        .uvod {
            flex-shrink: 0;
            flex-basis: 75%;
            padding: 25px 30px 30px 30px; 

        }

        .text-prvni {
            padding-left: 0;
        }

        .menubox {
            padding: 25px 0 25px 0;
        }

        .menu {
            display: block;
            /* float: left;   */
            /* width: 150px; */
            margin: 50px 0 0 50px; 
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-basis: 25%;
        }

        .menu li {
            text-align: left;
            width: 250px;
            margin-bottom: 0;
            border-top: none;
            border-right: none;
        }

        
    }

/* OBSAH */

.telo {
    width: 100%;
    margin: 0 0 30px 0;
    /* padding-bottom: 30px; */
    background: white;
    box-shadow: 0px 1px 10px 2px rgb(165, 164, 164);
}

@media (min-width: 1000px) {
    .telo {
        max-width: 960px;
        margin: -50px auto 50px auto;
    }
}

/* .telo {
    z-index: 90;
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 20px;
 }*/

 h2 {
    margin: 30px 0;
    font-size: 24px;
 }

h2 {
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    width: 90px;
    border-bottom: 3px solid rgb(0, 123, 255);
    left: 0px;
    bottom: 0;
}

.text-prvni {
    padding: 40px 20px;
    color: rgb(26, 24, 24);
}

.text {
    padding: 0 20px 0 20px;
    color: rgb(50, 48, 48);
}

.text-zmena {
    padding: 0 20px 0 20px;
    color: rgb(50, 48, 48);
}

.obsah {
    background: white;
}

.obrazek-prvni,
.obrazek-druhy,
.obrazek-treti {
    width: 100%;
    margin: 30px 0 0px 0;
}

.popisek-prvni,
.popisek-druhy,
.popisek-treti,
.popisek {
    text-align: center;
    font-size: 10px;
    color: rgb(108, 107, 107);
}



a {
    color: rgb(165, 164, 164);
}

.popisek-copy {
    color: rgb(165, 164, 164);
}

strong {
    color: black;
    font-weight: 700;
}

 @media (min-width: 500px) {
    .obrazek-prvni img {
        position: relative;
    }

    .popisek-prvni p {
        position: absolute;
        right: 10px;
        bottom: 10px;
    } 

     h2 {
        font-size: 30px;
    } 

} 

@media (min-width: 1000px) {
    .text-prvni {
        padding-left: 0px;
    }

    .telo {
        padding-bottom: 0;
    }

    .text {
        padding-right: 250px;
    }

    .text-zmena {
        padding-left: 250px;
    }
    
    .obrazek-prvni,
    .obrazek-druhy,
    .obrazek-treti {
        width: 100%;
    }

    p {
        padding: 0 30px 0 30px;
    }

    h2 {
        font-size: 36px;
    } 

}

/*.islanduvod {
    width: 500px;
} */

/* FOTOGALERIE */



 .foto {
    margin: 0;
} 

.foto img {
    max-width: 100%;
}


 /* .foto {
    max-width: 500px;
}   */

.foto .popisek {
    margin: 10px 0 20px 0;
    color: rgb(136, 136, 136);
}

.foto .popisek a {
    color: rgb(136, 136, 136)
}

.popisek-copy {
    font-size: 10px;
}


 @media (min-width: 500px) {
    

    .popisek {
        padding: 0;
        display: none;
    }
    
    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .foto {
        display: flex;
        /* flex-wrap: wrap; */
        flex-grow: 1;
        /* commenting line349 makes all images the same size but not fill the page; uncommenting it fills the page but breaks the last picture */
    }

    .foto img {
        flex-basis: 50%;
        flex-grow: 1;
    }

    .foto:last-child {
        /* flex-basis: 50%; */
        flex-shrink: 0;
    }

}

@media (min-width: 1000px) {
    .popisek {
        display: none;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
    }    

    .foto {
        flex-basis: 33.333%;
        flex-grow: 1;
    }
}


/* PATICKA */

.paticka {
    margin: 30px 20px;
    font-size: 10px;
    background-color: #f5f5f5;
    color: rgb(165, 164, 164);
} 

@media (min-width: 500px) {
    .paticka { 
    font-size: 12px; 
}
}

@media (min-width: 1000px) { 
    .paticka {
        max-width: 960px;
        font-size: 14px;
        margin: 20px auto;
    }
}



